<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <add key="DataflowThreadingMode" value="Single" />
    <!-- Use the categorized logger, when creating log entries -->
    <!-- Default setting is "BK.Platform.Utility.Logging.PlatformLogger, BK.Platform.Utility.Logging" -->
    <add key="LoggerType" value="BK.Platform.Utility.Logging.PlatformLoggerCategorized, BK.Platform.Utility.Logging" />
    <!-- When set to 1, Trace.Write and Trace.WriteLine statements are not logged and not shown -->
    <!-- in the debug output window. All Logger.Log entries are still enabled. -->
    <add key="DebugIgnoreTraceOutput" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <!-- Trace switches used by Debug/Trace: 0=Off, 1=Error, 2=Warning, 3=Info, 4=Verbose -->
      <!-- add name="BK.Platform.SignalAnalysis.SpeedIntervalAverager" value="4" />-->
      <!--<add name="BK.Platform.SignalAnalysis.FftAnalyzer.FftAnalyzer" value="4" />-->
      <!--		 <add name="BK.Platform.Data.Dataflow3.Computer" value="4"/> -->
      <add name="GlobalTraceSwitch" value="2" />
      <add name="BK.Platform.SignalAnalysis.AnalysisEngine-Dataflow3" value="4" />
      <add name="BK.Platform.SignalAnalysis.AnalysisModel.EngineProviders" value="5" />
    </switches>
  </system.diagnostics>
  <system.serviceModel>
    <services>
      <service name="BK.Platform.SignalAnalysis.AnalysisModel.EngineProviders.ParameterService">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/AnalysisEngine-Services/OutputParameterService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="namePipe_IParameterService">
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/AnalysisEngine-Services/OutputParameterService" binding="netNamedPipeBinding" bindingConfiguration="namePipe_IParameterService" contract="IParameterService" name="ParameterService">
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <!-- Registers a timeout (seconds) for B&K nightly unit test -->
    <unittest timeout="5400" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="PULSE SPC" />
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>